#content span {
}

#amountbox {
    padding-right: 5px;
}

#amount {
    display: inline;
    position: relative;
    font-weight: bold;
}

#amount input {
    margin-left: 5px;
    width: 4em;
}

#status span {
    display: none;
    font-weight: bold;
    font-family: sans-serif;
}

#status {
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
    display: none;
}

.failure {
    color: red;
}

.success {
    color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
